<table class="table table-hover main-content">
  <tr>
    <th>编号</th>
    <th>用户</th>
    <th>内容</th>
    <th>评论数量</th>
    <th>喜欢数量</th>
    <th>操作</th>
  </tr>
  <% messages.each do |message| %>
    <tr>
      <td><%= message.id %></td>
      <td><%= link_to message.user.nickname, "#" %></td>
      <td><%= message.content.truncate(27, separator: ' ') %></td>
      <td><%= message.comments.count %></td>
      <td><%= message.likes.count %></td>
      <td>
        <%= link_to "查看", message_path(message) %>
        <%= link_to "删除", "#", remote: true %>
      </td>
    </tr>
  <% end %>
</table>
