<%= render 'layouts/nav'%>
<div class="container">
  <div class="card user-main">
    <div class="card-header text-center">用户列表</div>
    <div class="card-body">

      <div class="search">
        <%= form_tag( users_path,method: "get",class:'form-inline')  do %>
          <div class="form-group">
            <%= label_tag("filter","昵称/邮箱：") %>
            <%= text_field_tag("filter", params[:filter],class:'form-control') %>
          </div>
          <%= submit_tag("查询",class:'btn btn-success query-submit') %>
        <% end %>
      </div>
      <div class="row">
        <% @users.each do |user| %>
          <div class="card-plus col-md-3">
            <div class="card card-in">
              <%= image_tag(user.avatar,class:'card-img') %>
              <div class="card-body text-center">
                <p class="card-title"><%= user.nickname %></p>
                <p class="info"><%= user.messages.count %> 篇留言 •  <%= user.like.count %> 喜欢</p>

                <%= link_to  user_path(user), method: "delete", data: {confirm: "确定注销用户账号？"}, title: '注销用户账号' , class:'user-delete' do %>
                  <%= icon('fas', 'user-times') %>
                <% end %>
                &nbsp
                <%= link_to  messages_path(user_id: user.id), title: '用户所有留言' do %>
                  <%= icon('fas', 'envelope-open-text') %>
                <% end %>
                &nbsp
                <%= link_to  comments_path(user_id: user.id),title: '用户所有评论' do %>
                  <%= icon('fas', 'comments') %>
                <% end %>
                &nbsp
                <%= link_to  new_notification_path(user_id: user.id), title: '向该用户发布消息' do %>
                  <%= icon('fas', 'bullhorn') %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div> 
    <%= paginate @users %>
  </div>
</div>
